body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#task-form {
    background-color: white;
    box-shadow: 0 4px 8px darkgray;
    width: 300px;
    padding: 30px;
    border: 50px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#task-form input,
#task-form textarea,
#task-form select {
    font-weight: lighter;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#task-form textarea {
    resize: vertical;
}

button {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: lightgray;
}

#task-list {
    background-color: white;
    box-shadow: 0 4px 8px darkgray;
    width: 1000px;
    padding: 30px;
    border: 50px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.task {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.task:hover {
    box-shadow: 0 4px 8px darkgray;
}

.task.selected {
    background-color: whitesmoke;
}

#cancelBtn {
    background-color: white;
    border:none;
}

.editTaskBtn {
    background-color: lightskyblue;
    color: white;
    border:none;
    margin-top: 5px;
    margin-right: 2px;
}

.deleteTaskBtn {
    background-color: lightcoral;
    color: white;
    border:none;
    margin-top: 5px;
}

#clockAndWeather {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    width: 100%;
}

#clock {
    background-color: white;
    box-shadow: 0 4px 8px darkgray;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
}

#weather {
    background-color: white;
    box-shadow: 0 4px 8px darkgray;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
}

.speechBtn {
    background-color: white;
    border: none;
    padding: 0px;
}

.speechBtn:hover {
    background-color: white;
}