body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-form {
    background-color: white;
    box-shadow: 0 4px 8px darkgray;
    width: 300px;
    padding: 30px;
    border: 50px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.task-form input,
.task-form textarea,
.task-form select {
    font-weight: lighter;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.task-form textarea {
    resize: vertical;
}

.task-form #addTaskBtn {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
}
